@model Demo_Session3_MVC.Models.Account

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $( function() {
      $( "#birthday" ).datepicker();
    } );
</script>

<h3>Register</h3>
<form method="post" asp-controller="account" asp-action="register" >
    <table>
        <tr>
            <td>Username</td>
            <td>
                <input type="text" asp-for="Username" />
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" asp-for="Password" />
            </td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td>
                <input type="text" asp-for="FullName" />
            </td>
        </tr>
        <tr>
            <td valign="top">Description</td>
            <td>
                <textarea cols="20" rows="5" asp-for="Description"></textarea>
            </td>
        </tr>
        <tr>
            <td valign="top">Status</td>
            <td>
                <input type="checkbox" asp-for="Status" />
            </td>
        </tr>
        <tr>
            <td valign="top">Languages</td>
            <td>
                @foreach (var language in ViewBag.languages)
                {
                    <input type="checkbox" name="languages" value="@language.Id" /> @language.Name
                    <br />
                }
            </td>
        </tr>
        <tr>
            <td valign="top">Gender</td>
            <td>
                <input type="radio" asp-for="Gender" value="male" /> Male
                <br />
                <input type="radio" asp-for="Gender" value="female" /> Female
            </td>
        </tr>
        <tr>
            <td valign="top">Cert</td>
            <td>
                @foreach (var cert in ViewBag.certs)
                {
                    <input type="radio" asp-for="Cert" value="@cert.Id" /> @cert.Name
                    <br />
                }
            </td>
        </tr>
        <tr>
            <td valign="top">Role</td>
            <td>
                <select asp-for="Role">
                    @foreach (var role in ViewBag.roles)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td valign="top">Street</td>
            <td>
                <input type="text" asp-for="Address.Street" />
            </td>
        </tr>
        <tr>
            <td valign="top">Ward</td>
            <td>
                <input type="text" asp-for="Address.Ward" />
            </td>
        </tr>
        <tr>
            <td valign="top">District</td>
            <td>
                <input type="text" asp-for="Address.District" />
            </td>
        </tr>
        <tr>
            <td valign="top">Birthday</td>
            <td>
                <input type="text" asp-for="Birthday" asp-format="{0:MM/dd/yyyy}" id="birthday" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
    <input type="hidden" asp-for="Id" />
</form>
