<table border="1">
    <tr>
        <th>Action</th>
        <th>Id</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    @foreach (var product in ViewBag.products)
    {
        <tr>
            <td>
                <a asp-controller="product" asp-action="details" asp-route-itemid="@product.Id">Details</a>
            </td>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td><img src="~/images/@product.Photo" width="120" height="100" /></td>
            <td>@product.Price</td>
            <td>@product.Quantity</td>
            <td>@(product.Price * product.Quantity)</td>
        </tr>
    }
</table>